Package: xyz.skitty.dragenabler
Name: DragEnabler
Depends: mobilesubstrate, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Enable iPad drag and drop features.
Depiction: https://skitty.xyz/repo/depictions/?p=xyz.skitty.dragenabler
SileoDepiction: https://skitty.xyz/repo/depictions/?s=xyz.skitty.dragenabler
Icon: https://skitty.xyz/repo/icons/xyz.skitty.dragenabler.png
Maintainer: Skitty
Author: Skitty
Section: Tweaks
